SECRET_KEY=your-secret-key-here
DATABASE_URL=postgres://user:password@127.0.0.1:5432/djangorestecommerce
REDIS_LOCATION=redis://localhost:6379

ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SETTINGS_MODULE=config.django.local

POSTGRES_DB=djangorestecommerce
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_strong_password

ZARINPAL_MERCHANT_ID=
ZARINPAL_REQUEST_URL=https://sandbox.zarinpal.com/pg/v4/payment/request.json
ZARINPAL_VERIFY_URL=https://sandbox.zarinpal.com/pg/v4/payment/verify.json
ZARINPAL_STARTPAY_URL=https://sandbox.zarinpal.com/pg/StartPay/
